.mask-modal {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;

  .mask-layer-img,
  .mask-layer {
    position: absolute;
    width: 100%;
    height: 300px;
    background: red;
    background-size: cover;
    background-position: center;
  }
}

.mask-modal-svg {
  // mask-image: url() 和background一样 支持多图片
  // mask-mode：match-source 根据资源的类型自动采用合适的遮罩模式 支持多属性值
  // alpha 、luminance、match-source
  // 如果我们的遮罩使用的是SVG中的<defs>中的<mask>元素，则此时的mask-mode属性的计算值是luminance，表示基于亮度遮罩。如果是其他场景，则计算值是alpha，表示基于透明度遮罩
  // mask-repeat：
  // mask-position
  // mask-clip
  // mask-origin
  // mask-size
  // mask-type
  // mask-composite

  -webkit-mask: url(../../assets/logo.svg) no-repeat center;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: 0 -38px;

  .mask-layer {
    display: none;
  }
}

.mask-modal-radial {
  .mask-layer {
    -webkit-mask-image: radial-gradient(transparent, transparent 10%, black 60%);
  }
}

.mask-modal-linear {
  .mask-layer {
    -webkit-mask-image: linear-gradient(black 90px,transparent 90px), linear-gradient(180deg, black 90px,transparent 90px);
  }
}

.mask-modal-multiply {
  .mask-layer {
    background:
      repeating-linear-gradient(-45deg,
        transparent 0,
        transparent 25%,
        dodgerblue 0,
        dodgerblue 50%
      ),
      repeating-linear-gradient(45deg,
        transparent 0,
        transparent 25%,
        tomato 0,
        tomato 50%
      ),
      repeating-linear-gradient(
        transparent 0,
        transparent 25%,
        gold 0,
        gold 50%
      ),
      white;
    background-blend-mode: multiply;
    background-size: 100px 100px;
  }
}

.mask-modal-difference {
  .mask-layer-img {
    filter: brightness(0.5);
  }

  .mask-layer {
    background: linear-gradient(45deg, #fff 50%, #000 50%);
    mix-blend-mode: difference;
  }
}

.mask-modal-color {
  background-size: 100%;
  background-blend-mode: lighten;
  background-color: red;

  .mask-layer-img,
  .mask-layer {
    display: none;
  }
}
